body {
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    text-align: center;
}
a { 
    color: inherit; 
} 
#headerEmoji {
    font-size: 60px;
}
#headerTekst {

    text-transform: uppercase;
    font-size: 50px;
    font-weight: bold;
}
.innholdProsjekter {
    margin: 0 auto;
    position: relative;
    text-align: center;
    color: #E58A4F;
    font-size: 22px;
    font-weight: bold;
    height: 70px;
    width: 30%;
    border: 2px solid #E58A4F;
    border-radius: 1px;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.16) ;
}
.innholdProsjekterTekst {
    position: absolute;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.lenker {
    display: flex;
    justify-content: center;
    color: #4A5AE5;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.lenke {
    border: 2px solid #4A5AE5;
    height: 80px;
    width: 180px;
    border-radius: 1px;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.16) ;
    position: relative;
    margin: 21px;
}
.lenkeTekst {
    position: absolute;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
hr {
    color: #707070;
    opacity: 0.8;
    width: 50%;
    margin-top: 60px;
    margin-bottom: 40px;
}
@media only screen and (max-width: 600px){
    hr {
        width: 300px;
    }
    .innholdProsjekter{
        width: 200px;
    }
    #headerEmoji {
        font-size: 40px;
    }
    #headerTekst {
        font-size: 35px;
    }
    .lenker {
        font-size: 15px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}